<div class="card">
  <h3 class="card_header">Login</h3>
  <form id="login-form" class="card_body login-form">
    <label class="form_label" for="user-login">Username</label>
    <input id="user-login" type="text" autofocus="true" class="form_input" />

    <label class="form_label" for="password-login">Password</label>
    <input
      id="password-login"
      type="password"
      autofocus="true"
      class="form_input"
    />

    <button type="submit" class="btn">Login!</button>
    <a class="signup" href="/signup">Sign up instead</a>
  </form>
</div>

<script src="./js/login.js"></script>