:root {
  --background: #c9e2c9a9; /*#ccdad1;*/
  --light: #ffffff;
  --light-grey: #b7aeb7;
  /*--tertiary: #788585;
  
  */
  --dark: #000000;
  --border-radius: 0.5rem;
}

* {
  box-sizing: border-box;
}

header {
  background-color: var(--dark);
}

a {
  text-decoration: none;
}

.tech_title {
  font-size: 3rem;
  background-color: var(--background);
  margin: 10px 10px 10px 50px;
  color: var(--dark);
  padding: 0 10px;
  display: inline-block;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--light-grey);
}

.card {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 0 20px;
  border: 2px solid var(--dark);
}

.form_input {
  font-size: 20px;
}

.card_header {
  display: flex;
  flex-direction: column;
  color: var(--light-grey);
  background-color: var(--dark);
  padding: 0 0 0 20px;
  margin: 0;
}

.card_body {
  padding: 1%;
  display: flex;
  flex-direction: column;
}

.btn {
  color: var(--light);
  background-color: var(--light-grey);
  border-radius: var(--border-radius);
  margin-top: 15px;
  font-size: 1.5rem;
  font-weight: bold;
}

body {
  background-color: var(--background);
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  color: var(--dark);
  line-height: 1.5;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

p,
h3 {
  margin: 0;
}
h1 {
  font-weight: 700;
  margin: 0;
  color: var(--dark);
  line-height: 1.25;
}

.tech_header {
  width: 100%;
  margin: 15px 0 0 10px;
  display: flex;
  flex-direction: column;
}

.tech_menu {
  margin: 0 0 0 50px;
  color: var(--light);
}

.new_post {
  display: flex;
  margin-top: 150px;
  justify-content: center;
}
